<div class="container">
  <div class="title-container">
    <h1 class="title">Totio IA</h1>
  </div>

  <div class="content-container">
    <div *ngFor="let line of lines; index as i" class="line">
      <div class="box" *ngFor="let b of line" (click)="clickRow(b)">
        <div class="box-text">
            {{ b.state && b.setBy === 'user' ? 'X' : '' }}
            {{ b.state && b.setBy === 'ia' ? 'O' : '' }}
        </div>
      </div>
    </div>
  </div>
  <div class="win-container" *ngIf="someOneWin">
    <p class="win-text">Felicidades, le ganaste a la IA</p>
  </div>
  <div class="bottom-content">
    <p  class="bottom-content-text">
      movimiento Actual: [<span *ngFor="let move of movimientoActual">{{move}}, </span>]
    </p>
  </div>
  <div class="save-content">
    <p  class="save-content-text">
      movimientos guardados: [<span *ngFor="let move of movimientos">{{move}}, </span>]
    </p>
  </div>
</div>
